@model IEnumerable<Url>
@{

}

<div id="root">

</div>

@* <script src="~/urlindex/build/static/js/main.*.js"></script> *@
<script src="@Url.Content("~/urlindex/build/static/js/"+TempData["reactFile"])"></script>
